@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

//resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//attribution
.attribution { 
    font-size: 11px; 
    text-align: center; 

    a {
        color: hsl(228, 45%, 44%);
    }
}

//colors
$neutral900: hsl(227, 75%, 14%);
$neutral800: hsl(226, 25%, 17%);
$neutral700: hsl(225, 23%, 24%);
$neutral600: hsl(226, 11%, 37%);
$neutral300: hsl(0, 0%, 78%);
$neutral200: hsl(217, 61%, 90%);
$neutral100: hsl(0, 0%, 93%);
$neutral000: hsl(200, 60%, 99%);

$red400: hsl(3, 86%, 64%);
$red500: hsl(3, 71%, 56%);
$red700: hsl(3, 77%, 44%);

$gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
$gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

//fonts
$f_light: 400;
$f_medium: 500;
$f_bold: 700;
