@use "./config" as *;
@use "./toggle" as *;
//-----------------dark/light--------------------
:root,
:root.light {
    --bg-color: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --text-color: hsl(227, 75%, 14%);
}

:root.dark {
    --bg-color: linear-gradient(180deg, #040918 0%, #091540 100%);
    --text-color: hsl(200, 60%, 99%);
}

//----------------general body-------------------
body {
    min-height: 100vh;
        background: var(--bg-color);
        color: var(--text-color);
    font-family: "Noto Sans", sans-serif;
    padding: 5%;
}

//---------------container-----------------------
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 0.5px solid $neutral300;
}

.dark .container {
    background-color: $neutral800;
    border: 1px solid $neutral600;
    box-shadow: 0 0;
}

.light .container,
.container {
    background-color: $neutral000;
    box-shadow: 0 2px $neutral200;
}

//-----------theme buttons------------------------
.theme-btn {
    border-radius: 10px;
    width: 45px;
    height: 45px;
    background-color: $neutral100;
        border: 0.5px solid $neutral100;
        cursor: pointer;
    }
    
    .theme-btn.light {
        display: none;
    }
    
    .dark .theme-btn.light {
        display: block;
        background-color: $neutral600;
        border: 0.5px solid $neutral600;
    }
    
    .dark .theme-btn.dark {
        display: none;
}

//----------title and active buttons---------------
.title {
    padding: 30px 0 5px 0;
    h1 {
        font-size: 2rem;
        font-weight: $f_bold;
        text-align: center;
    }
    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    button {
        color: var(--text-color);
        border-radius: 25px;
        padding: 10px 20px;
        border: 1px solid $neutral600;
            font-size: 1.2rem;
        font-weight: $f_light;
        margin: 5px;
        background-color: $neutral000;
    }
}

.dark .btn-group button {
    background-color: $neutral800;
}

.light .btn-group button {
    background-color: $neutral000;
}

//----------------extension cards---------------
.extension.container {
    border-radius: 20px;
    flex-direction: column;
    margin: 10px auto;
    box-shadow: 0 0;
}

.data {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

.details {
    h2 {
        font-weight: $f_bold;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    p {
        font-weight: $f_light;
        color: $neutral600;
        font-size: 1rem;
    }
    margin-bottom: 10px;
}
.dark .details {
    p {
        color: $neutral300;
    }
}
.state-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 10px 5px 10px;
    button {
        font-size: 1rem;
        border-radius: 25px;
        border: 1px solid $neutral300;
        padding: 8px 15px;
        background-color: $neutral000;
        font-weight: $f_light;
    }
}
.dark .state-bar {
    button {
        background-color: $neutral800;
        color: $neutral000;
        border: 1px solid $neutral600;
    }
}